In [58]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy as db
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [59]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [60]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [61]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 

june_temperatures_query = session.query(Measurement.tobs).filter(func.strftime("%m", Measurement.date) == "06")
print(june_temperatures_query)

SELECT measurement.tobs AS measurement_tobs
FROM measurement
WHERE strftime(?, measurement.date) = ?

In [62]:
#  3. Convert the June temperatures to a list.
june_temperatures = june_temperatures_query.all()

type(june_temperatures)

list

In [63]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 

june_temperatures_df = pd.DataFrame(june_temperatures, columns=['temperature'])

june_temperatures_df.head()

   temperature
0         78.0
1         76.0
2         78.0
3         76.0
4         77.0

In [64]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_temperatures_df.describe()

       temperature
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [65]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.

december_temperatures_query = session.query(Measurement.tobs).filter(func.strftime("%m", Measurement.date) == "12")
print(december_temperatures_query)

SELECT measurement.tobs AS measurement_tobs
FROM measurement
WHERE strftime(?, measurement.date) = ?

In [66]:
# 7. Convert the December temperatures to a list.

december_temperatures = december_temperatures_query.all()

type(december_temperatures)

list

In [67]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 

december_temperatures_df = pd.DataFrame(december_temperatures, columns=['temperature'])

december_temperatures_df.head()

   temperature
0         76.0
1         74.0
2         74.0
3         64.0
4         64.0

In [68]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
december_temperatures_df.describe()

       temperature
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000

In [69]:
# Additional Query 1 : Query to retrieve the precipitation summary and convert to DataFrame for the month of June. 

june_precipitation_query = session.query(Measurement.prcp).filter(func.strftime("%m", Measurement.date) == "06")
june_precipitation = june_precipitation_query.all()
june_precipitation_df = pd.DataFrame(june_precipitation, columns=['precipitation'])
june_precipitation_df.head()

   precipitation
0           0.00
1           0.01
2           0.00
3           0.00
4           0.00

In [70]:
# Addition query 1 Output :  Calculate and print out the summary statistics for the June precipitation DataFrame.

june_precipitation_df.describe()

       precipitation
count    1574.000000
mean        0.136360
std         0.335731
min         0.000000
25%         0.000000
50%         0.020000
75%         0.120000
max         4.430000

In [71]:
# Additional Query 2 : Query to retrieve the precipitation summary and convert to DataFrame for the month of December. 

december_precipitation_query = session.query(Measurement.prcp).filter(func.strftime("%m", Measurement.date) == "12")
december_precipitation = december_precipitation_query.all()
december_precipitation_df = pd.DataFrame(december_precipitation, columns=['precipitation'])
december_precipitation_df.head()

   precipitation
0           0.04
1           0.00
2           0.00
3           0.00
4           0.00

In [72]:
# Addition query 2 Output :  Calculate and print out the summary statistics for the December precipitation DataFrame.

december_precipitation_df.describe()

       precipitation
count    1405.000000
mean        0.216819
std         0.541399
min         0.000000
25%         0.000000
50%         0.030000
75%         0.150000
max         6.420000

In [89]:
# Additional Query 3 : Query to retrieve the Yearly averages of both Percipitation and Temperature. , covert to a dataframe and output results

query_field_selection = [func.strftime("%Y", Measurement.date),func.avg(Measurement.prcp),func.avg(Measurement.tobs)]

year_month_query = session.query(*query_field_selection).distinct().group_by(func.strftime("%Y", Measurement.date)).all()
year_month_df = pd.DataFrame(year_month_query, columns=['Year','Percipitation','Temperature'])
print(year_month_df)

   Year  Percipitation  Temperature
0  2010       0.138523    72.495690
1  2011       0.163735    72.674716
2  2012       0.116381    72.264015
3  2013       0.155546    72.678652
4  2014       0.178560    73.264536
5  2015       0.199200    73.860331
6  2016       0.179845    74.144218
7  2017       0.165927    74.143880